body {
    background-color: powderblue;
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
table {
	margin-left:auto; 
    margin-right:auto;
	table-layout:fixed;
	text-align:center;
	border: 1px solid black;
}
tr {
	border: 1px solid black;
}
td{
	border: 1px solid black;
	width: 100px;
	height:100px;
}
#resetButton {
	text-align: center;
}
input:checked {
	height:50px;
	width:50px;
}
#popOut {
	display: block;
	height:20%;
	width:20%;
	margin-left: auto;
	margin-right: auto;
	transition: transform 1s;
}
a:hover {
	background-color: yellow;
	position:relative;
	display:block;
	z-index:999;
	transform: scale(1.5);
}
.regular-box:hover {
	background-color: red
}
.regular-box {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}
.regular-box:checked:after {
	content: 'O';
	font-size: 40px;
	position: relative;
	top: -7px;
	left: 0px;
	bottom: 0px;
	color: red;
}
.regular-box:active, .regular-box:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-box:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-box1:hover {
	background-color: green
}
.regular-box1 {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}
.regular-box1:checked:after {
	content: 'O';
	font-size: 40px;
	position: relative;
	top: -7px;
	left: 0px;
	bottom: 0px;
	color: green;
}
.regular-box1:active, .regular-box:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-box1:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}